.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.recipe {
    background-color: olivedrab;
    border: 1px dotted rgb(12, 143, 199);
    padding: 0.7rem;
    margin: 0.5rem 0;
    justify-content: space-evenly;
}

.full_recipe {
    background-color: olivedrab;
    border: 1px dotted cornflowerblue;
    padding: 0.7rem;
    margin: 0.5rem 0;
}



/* CSS */
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    max-height: 50px;
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}