.neighbor_profile {
    background-color: rgb(224, 177, 102);
    margin: auto;
    width: 50%;
    border: 3px solid rgb(35, 43, 30);
    padding: 10px;
    text-align: center;
}

.recipe {
    background-color: rgb(123, 149, 69);
    border: 1px solid gray;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.list_recipes {
    background-color: rgb(243, 237, 204);
    border: 2px solid rgb(35, 43, 30);
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.neighbor--recipe {
    background-color: rgb(123, 149, 69);
    border: 3px solid rgb(35, 43, 30);
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.user-recipe {
    background-color: rgb(123, 149, 69);
    border: 3px solid rgb(35, 43, 30);
    padding: 0.7rem;
    margin: 0.5rem 0;
}


.address {
    background-color: rgb(224, 177, 102);
    margin: auto;
    width: 50%;
    border: 2px solid rgb(35, 43, 30);
    padding: 10px;
    text-align: center;
}

.profile {
    background-color: rgb(224, 177, 102);
    margin: auto;
    width: 50%;
    border: 2px solid rgb(35, 43, 30);
    padding: 10px;
    text-align: center;
}

.editform {
    background-color: rgb(243, 237, 204);
    border: 1px dotted cornflowerblue;
    padding: 0.7rem;
    margin: 0.5rem 0
}

/* CSS */
.button-23 {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 1.5 px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.button-23:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}