.about {
    background-color: olivedrab;
    border: 1px dotted rgb(12, 143, 199);
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.bio {
    background-color: rgb(234, 223, 163);
    border: 1px dotted cornflowerblue;
    padding: 0.7rem;
    margin: 0.5rem 0
}