.chefs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.neighbor {
    background-color: rgb(224, 177, 102);
    border: 2px solid rgb(41, 43, 44);
    padding: 0.7rem;
    margin: 0.5rem 0;

}

Link {
    color: rgb(41, 43, 44)
}